<ion-header>
  <ion-toolbar>
    <ion-title>User Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Phone Number" (ionChange)="onPhoneChange($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Name" (ionChange)="onNameChange($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Email" (ionChange)="onEmailChange($event)"></ion-input>
      </ion-item>
      <ion-select placeholder="Select" >
        <ion-select-option value="QR">QR</ion-select-option>
        <ion-select-option value="CASH">CASH</ion-select-option>
      </ion-select>
    </ion-list>
    <ion-button size="medium" shape="block" class="btn" (click)="placeOrder()">
      Place Order
    </ion-button>
  </ion-card>
</ion-content>