<ion-header>
  <ion-toolbar>
    <ion-title>Products - {{society}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title (click)="onClickTotal()">Total = {{total}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-list>
      <div *ngFor="let prod of products; let i = index">
        <ion-item>
          <ion-label>{{prod.name}}</ion-label>
          <ion-input slot="end" class="product-input" color="primary" (ionChange)="onInputChange($event, i )">
          </ion-input>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
  <ion-button size="medium" shape="block" class="btn" (click)="addUser()">
    Add User
  </ion-button>
</ion-content>