<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Jeevamrut Stalls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jeevamrut Stalls</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
  </ion-list>

  <div id="container">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Select Society" (ionChange)="onSocietyChange($event)">
            <ion-select-option *ngFor="let society of societyList; let i = index" [value]="society.id">
              {{society.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Name" (ionChange)="onNameChange($event)"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button size="medium" shape="block" class="btn" (click)="submit()">
      Products
    </ion-button>
  </div>
</ion-content>