<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Jeevamrut Stalls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jeevamrut Stalls</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-select placeholder="Select Society" (ionChange)="handleChange($event)">
          <ion-select-option value="MHA">MHA</ion-select-option>
          <ion-select-option value="MHJ">MHJ</ion-select-option>
          <ion-select-option value="Sai Ram">Sai Ram</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>